@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --accent: hsl(152, 98%, 20%);
  --accent-hover: hsl(152, 98%, 25%);
  --bg: #07160f;
  --bg-secondary: #0b2016;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
  }
}

@theme {
  --font-monkey: 'Happy Monkey', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
  --color-bg: var(--bg);
  --color-bg-secondary: var(--bg-secondary);
  --color-bg-light: #ffffff;
  --color-text: #ffffff;
  --color-text-light: #213547;
  --color-border: #3a3a3a;
  --color-border-light: #e0e0e0;
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
}

.loading-spinner {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 8px auto;
  position: relative;
  background: #fff;
  box-shadow:
    -24px 0 #fff,
    24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow:
      -24px 0 var(--color-accent),
      24px 0 #fff;
  }
  66% {
    background: var(--color-accent);
    box-shadow:
      -24px 0 #fff,
      24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow:
      -24px 0 #fff,
      24px 0 var(--color-accent);
  }
}

.blur-bg {
  background: hsl(152, 98%, 20%, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.blur-bg-2 {
  background: hsl(152, 98%, 20%, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
